<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top footer sticky bg-black text-white">
  <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-white text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0">© <%= new Date().getFullYear() %> AK Jeweller</span>
  </div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="./script/cartFunctionality.js"></script>
<script type="module" src="./script/signup.js"></script>
</body>
</html>